---
---
<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <title>Mitchell Lee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About me, my works, and my thoughts">
    <meta name="author" content="Mitchell Lee">

    <!-- Le styles -->
    <link href="dist/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/lib/component.min.css" rel="stylesheet" />
    <link href="dist/lib/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="dist/css/main.min.css" rel="stylesheet" />


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>

    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
</head>
<body>
<div class="container">

	<div id="bl-main" class="bl-main" ng-controller="MainController">

		<box header="Hi My Name is Mitchell" route="/About">
			<div class="row-fluid">
				<div class="span12">
				{% capture aboutme %}{% include aboutme.md %}{% endcapture %}
				{{ aboutme | markdownify }}
				</div><!-- /span12 -->
			</div>
		</box>
		<box header="These are my creations" route="/Projects">
		</box>
		<box header="This is what I think about" class="blog" route="/Blog">
			<div class="row-fluid">
				<div class="span12">
					<h2>Blog Posts</h2>
					{% for post in site.posts %}
						<article>
							<h3>{{ post.title }}</h3>
							{{ post.content }}
						</article>
						<hr>
					  {% endfor %}
				</div>
			</div>
		</box>
		<box header="This is how you can connect with me" route="/Contact">
			<div class="row-fluid">
				<div class="span12">
					<h2>Get in touch</h2>
					<br>
					<p>I am available for freelance jobs, presentations, and technical debates. (No spam please).
					Please contact me and send me your questions and inquiries.</p>						
				<p>
					<p>mitch@evildev.net | Winnipeg, Canada</p>
				</p>

				<p>
				Or, just scan this QR Code:
				</p>
				<img src="dist/images/contact-qr.png" alt="Contact Me" />
				
				<p>
					<a href="https://twitter.com/TheEvilDev" class="social-network twitter"></a>
					<a href="skype:theevildev?chat" class="social-network skype"></a>
					<a href="http://www.linkedin.com/in/evildev" class="social-network linkedin"></a>
				</p>
				
			</div>
		</box>
	</div><!-- /bl-main -->
</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>

	<script>
		$(function() {
			Boxlayout.init();
		});
	</script>

	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="dist/js/TheEvilDev.github.io.min.js"></script>

	<script id="boxtemplate" type="text/ng-template">
		<section ng-class='{ "bl-expand": expanded, "bl-expand-top": expanded }'>
			<div class="bl-box" ng-click="expand()">
				<h2 ng-bind="header"></h2>
			</div>
			<div class="bl-content" ng-transclude></div>
			<span class="bl-icon bl-icon-close" ng-click="collapse()"></span>
		</section>
	</script>
</body>
</html>