@import "./variables.scss";
@import "./about.scss";
@import "./blog.scss";

h1,h2,h3,h4,h5,h6 {
	font-family: $heading-fonts;
}

h1,h2 {
	text-transform: uppercase;
}

pre, code {
	font-family: $codeblock-fonts;
}

blockquote {
	font-size: 0.9em;
	font-style: italic;
}

article h1 {
	font-size: 2.0em;
	font-weight: normal;
}

article h2 {
	font-size: 1.8em;
	font-weight: normal;
}

pre {
	padding: 3px;
}